%tr
  %td{:align => "left"}
    %font{body_font}
      = t("emails.payment_receipt_to_seller.you_have_received_new_payment", :listing_title => listing_title, :payment_sum => payment_total, :payer_full_name => payer_given_name).html_safe

%tr
  %td{:align => "left", :style => "padding: 20px 0;"}
    %table{:cellpadding => 5, :cellspacing => 0, :style => "border-collapse: collapse; width: 100%"}
      %tbody
        %tr
          %td{:width => "200"}
            %b= t("emails.payment_receipt_to_seller.product")
          %td
            %b= listing_title
          - if booking.present?
            - if (listing.unit_type == :day || listing.unit_type == :night)
              %tr
                %td{colspan: 2}
                  %font{body_font}
                    %b
                      - if listing.unit_type == :day
                        = use_new_translation("transactions.initiate.booked_days_label", count: duration).or_fallback_to("transactions.initiate.booked_days")
                      - else
                        = use_new_translation("transactions.initiate.booked_nights_label", count: duration).or_fallback_to("transactions.initiate.booked_nights")
                    %br
                    = l booking.start_on, format: :long_with_abbr_day_name
                    = "-"
                    - if listing.unit_type == :day
                      = l (booking.end_on - 1.day), format: :long_with_abbr_day_name
                      = "(#{pluralize(duration, t("listing_conversations.preauthorize.day"), t("listing_conversations.preauthorize.days"))})"
                    - else
                      = l booking.end_on, format: :long_with_abbr_day_name
                      = "(#{pluralize(duration, t("listing_conversations.preauthorize.night"), t("listing_conversations.preauthorize.nights"))})"
            - else
              %tr
                %td{colspan: 2}
                  = t('transactions.initiate.booked_hours_label', count: duration)
              %tr
                %td{colspan: 2}
                  %font{body_font}
                    = l booking.start_time.to_date, format: :long_with_abbr_day_name
                    = '-'
                    = t("transactions.initiate.start_end_time",
                      start_time: l(booking.start_time, format: :hours_only),
                      end_time: l(booking.end_time, format: :hours_only))
                 
        - if duration.present? || listing_quantity > 1
          %tr
            %td{:width => "250"}
              = price_per_unit_title
            %td
              = listing_price
        - if duration.present? && listing_availability.to_s != 'none'
          %tr
            %td{:width => "250"}
              = t("emails.receipt_to_payer.duration")
            %td
              = duration
        - elsif listing_quantity > 1
          %tr
            %td{:width => "250"}
              = quantity_selector_label || t("emails.new_payment.quantity")
            %td
              = listing_quantity
        %tr{:style => "border-top: 1px solid black"}
          %td
            %b= t("emails.payment_receipt_to_seller.price_payer_paid", :payer_full_name => payer_given_name)
          %td
            %b= subtotal
        %tr
          %td
            = t("emails.payment_receipt_to_seller.service_fee")
          %td= "#{payment_service_fee}"

        - if shipping_total.present?
          %tr
            %td
              = t("emails.payment_receipt_to_seller.shipping_total")
            %td= shipping_total

        - if payment_gateway_fee.present? && payment_gateway_fee_value > 0
          %tr
            %td
              = t("emails.payment_receipt_to_seller.payment_gateway_fee")
            %td= "#{payment_gateway_fee}"

        %tr{:style => "border-top: 1px solid black"}
          %td
            %b= t("emails.payment_receipt_to_seller.you_will_get")
          %td
            %b= payment_seller_gets

= render :partial => "person_mailer/action_button", :locals => { :text => t("emails.conversation_status_changed.view_thread"), :url => conversation_url}
