%section#hero__hero__0.hero__section--light
  .hero__content
    .hero__content-container
      %h1.hero__title Rent | Buy | OwnOutdoors
      %h3.hero__subtitle
        Outdoor Experiences, Adventure & Gear
        %span{:style => "white-space: nowrap"} - Anywhere!
      .hero__search-bar-padding
        %form#hero__hero__0__search-form.hero__search-bar--combined{:action => "/s", :method => "get"}
          .hero__search-input-container--combined
            %button.hero__search-icon--combined{:type => "submit"}
              %svg.hero__search-icon-svg{:version => "1.1", :viewbox => "27 19 22 22", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                %g#icon_search{:fill => "none", "fill-rule" => "evenodd", :stroke => "none", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "1", :transform => "translate(38.000000, 30.000000) scale(-1, 1) translate(-38.000000, -30.000000) translate(28.000000, 20.000000)"}
                  %path#line{:d => "M14.6666667,14.6666667 L19.3254458,19.3254458", :stroke => "#525961", "stroke-width" => "2"}
                  %circle#Oval{:cx => "8", :cy => "8", :r => "8", :stroke => "#525961", "stroke-width" => "2"}
            %input.hero__keyword-search-input--combined{:name => "q", :placeholder => "Keyword (e.g. Kayak)", :type => "search"}/
            %input.hero__location-search-input--combined{:name => "lq", :placeholder => "Location", :type => "search"}/
          %button.hero__search-button.hero__search-button--combined{:type => "submit"} Search
          %input{:name => "ls", :type => "hidden"}/
          %input{:name => "lc", :type => "hidden"}/
          %input{:name => "boundingbox", :type => "hidden"}/
          %input{:name => "distance_max", :type => "hidden"}/
%section#categories__categories__1.categories__section
  .categories__content
    %h1.categories__title Popular Activities &amp; Fun
    .categories__paragraph--markdown
    .categories__categories
      .categories__category--4
        %a{:href => "/s?category=water-sports"}
          .categories__categories__1__categories__category-content.categories__category-content{:style => "background-image: url(https://d2hxfhf337f2kp.cloudfront.net/ownoutdoors/ownOutDoors_category-Water-Sports_BG.jpg)"}
            %h3.categories__category-title Water Sports
      .categories__category--4
        %a{:href => "/s?category=boating"}
          .categories__categories__1__categories__category-content.categories__category-content{:style => "background-image: url(https://d2hxfhf337f2kp.cloudfront.net/ownoutdoors/ownOutDoors_category-Boating_BG.jpg)"}
            %h3.categories__category-title Boating
      .categories__category--4
        %a{:href => "/s?category=motorcycles-scooters-bicycling"}
          .categories__categories__1__categories__category-content.categories__category-content{:style => "background-image: url(https://d2hxfhf337f2kp.cloudfront.net/ownoutdoors/ownOutDoors_category-Bicycles-Scooters-Motorcycles_BG_new.jpg)"}
            %h3.categories__category-title Motorcycles, Scooters, Bicycling
      .categories__category--4
        %a{:href => "/s?category=fishing"}
          .categories__categories__1__categories__category-content.categories__category-content{:style => "background-image: url(https://d2hxfhf337f2kp.cloudfront.net/ownoutdoors/ownOutDoors_category-fishing_BG.jpg)"}
            %h3.categories__category-title Fishing
%section#info__info-1-column__2.info__section--background-image--light{:style => "background-image: url('https://d2hxfhf337f2kp.cloudfront.net/ownoutdoors/ownOutDoors_infoSectionBG.jpg'); "}
  .info__content--single-column
    %h1.info__title--single-column About OwnOutdoors
    .info__paragraph--markdown
      %p Rent, Buy or Sell Outdoor Experiences, Adventure &amp; Gear - Anywhere! We are a one-stop shop to find outdoor fun. From renting a kayak or boat to finding snorkeling or diving tours, you can find it here at a great price and convenient location!
    %a.info__button.info__info-1-column__2__info__button{:href => "/signup"} Sign up
%section#listings__listings__3.listings__section
  .listings__content
    %h1.listings__title Featured Listings - Water Sports!
    .listings__paragraph--markdown
      %p Find your favorite activity on the water! From Kayaks and Paddleboards, Diving and Snorkeling gear and tours, to Parasailing and Waverunners, we are continuously adding listings so you can find your type of Fun!
    .listings__listings.owl-carousel.owl-theme
      - @featured_listings.each do |listing|
        .listings__wrapper
          .listings__listing
            %a{:href => listing_path(listing)}
              - image = listing.listing_images.first
              .listings__listing-image.owl-lazy{"data-src" => (image ? image.image.url(:big) : nil)}
              %h3.listings__listing-title= listing.title
            .listings__listing-info
              .listings__listings__3__listings__price-container.listings__price-container
                %span.listings__price-amount= humanized_money_with_symbol(listing.price)
                %span.listings__price-unit= " / " + (ListingViewUtils.translate_unit(listing.unit_type, listing.unit_selector_tr_key) rescue "item")
              %a.listings__listings__3__listings__author-link.listings__author-link{:href => person_path(listing.author)}
                .listings__author-container
                  .listings__author-avatar-container
                    .listings__author-avatar{:style => "background-image: url(#{listing.author.image.present? ? listing.author.image.url(:thumb) : missing_avatar(:thumb)})"}
                  %span.listings__author-name= PersonViewUtils::person_entity_display_name(listing.author, @current_community.name_display_type)
%footer#footer__footer__4.footer__container--light
  .footer__content
    .footer__links-container--center
      %ul.footer__link-list
        %li.footer__link-list-item
          %a.footer__link{:href => "/infos/about"} About
        %li.footer__link-list-item
          %a.footer__link{:href => "/infos/how_to_use"} How it works
        %li.footer__link-list-item
          %a.footer__link{:href => "/user_feedbacks/new"} Contact us
    %hr.footer__separator/
    .footer__copyrights--markdown
      %p 
        &copy;
        = Date.today.year 
        OwnOutdoors Marketplace. All rights reserved.

:javascript
  window.ST=window.ST||{},function(e){e.initializeLocationSearch=function(e){function t(){i.value=null,c.value=null,r.value=null,s.value=null}function n(e){return e*(Math.PI/180)}function o(e,t){var o=e.lat(),a=t.lat(),l=e.lng(),u=t.lng(),i=n(o),c=n(a),r=n(a-o),s=n(u-l),e=Math.sin(r/2)*Math.sin(r/2)+Math.cos(i)*Math.cos(c)*Math.sin(s/2)*Math.sin(s/2);return 2*Math.atan2(Math.sqrt(e),Math.sqrt(1-e))*6371/2}function a(e){if(e){var t=o(e.getNorthEast(),e.getSouthWest());s.value=t,r.value=e.toUrlValue()}else s.value=null}function l(e){return 32==e||13==e||8==e||e>47&&e<112||e>185&&e<193||e>218&&e<223}var u=document.querySelector(e.search),i=document.querySelector(e.status),c=document.querySelector(e.coordinate),r=document.querySelector(e.boundingbox),s=document.querySelector(e.maxDistance),v=document.querySelector(e.form),d=new window.google.maps.places.Autocomplete(u,{bounds:{north:-90,east:-180,south:90,west:180}}),g=!1;d.setTypes(["geocode"]),window.google.maps.event.addListener(d,"place_changed",function(){var e=d.getPlace();null!=e&&(null!=e.geometry?(c.value=e.geometry.location.toUrlValue(),i.value=window.google.maps.places.PlacesServiceStatus.OK,g=!0,a(e.geometry.viewport),v.submit()):(c.value="",m(e.name,w)))}),v.addEventListener("submit",function(e){""===u.value||g?""===u.value&&t():(e.preventDefault(),m(u.value,w))}),u.addEventListener("keypress",function(e){13===e.keyCode&&e.preventDefault(),l(e.keyCode)&&(g=!1,t())});var m=function(e,t){(new window.google.maps.places.AutocompleteService).getQueryPredictions({input:e},t)},w=function(e,t){var n=window.google.maps.places.PlacesServiceStatus;if(t===n.OK){var o=new window.google.maps.Map(document.createElement("div"));new window.google.maps.places.PlacesService(o).getDetails({placeId:e[0].place_id},function(e,t){t===n.OK&&(c.value=e.geometry.location.toUrlValue(),a(e.geometry.viewport)),i.value=t,g=!0,v.submit()})}else i.value=t,g=!0,v.submit()}}}(window.ST);
  window.ST.initializeLocationSearch({
    form: '#hero__hero__0__search-form',
    search: '#hero__hero__0__search-form [name=lq]',
    status: '#hero__hero__0__search-form [name=ls]',
    coordinate: '#hero__hero__0__search-form [name=lc]',
    boundingbox: '#hero__hero__0__search-form [name=boundingbox]',
    maxDistance: '#hero__hero__0__search-form [name=distance_max]'
  })
- content_for :extra_javascript do
  :javascript
    $(document).ready(function($) {
      $('.owl-carousel').owlCarousel({
        items: 3,
        mouseDrag: false,
        dots: true,
        nav: false,
        lazyLoad: true,
        responsive: {
            0 : {
              items: 1,
              slideBy: 1
            },
            480 : {
              items: 3,
              slideBy: 3
            },
            768 : {
              items: 3,
              slideBy: 3
            }
        }
      });
    });

