- if FeatureFlagHelper.feature_enabled?(:topbar_v1)
  - if(search_mode != :keyword || @view_type.eql?("map"))
    - maps_key = MarketplaceHelper.google_maps_key(@current_community.id)
    - key_param = maps_key ? "&key=#{maps_key}" : ""
    = javascript_include_tag "//maps.googleapis.com/maps/api/js?libraries=places#{key_param}"
  - if(@view_type.eql?("map"))
    = javascript_include_tag "markerclusterer.js"
  - props = topbar_props
  - props[:search] = nil
  - cache props do
    = react_component("TopbarApp", props: props, prerender: true, id: 'topbar-container')

%section#hero__hero__0.hero__section--light
  .hero__content
    .hero__content-container
      %h1.hero__title Rent | Buy | OwnOutdoors
      %h3.hero__subtitle
        Outdoor Experiences, Adventure & Gear
        %span{:style => "white-space: nowrap"} - Anywhere!
      .hero__search-bar-padding
        %form#hero__hero__0__search-form.hero__search-bar--combined{:action => "/s", :method => "get"}
          .hero__search-input-container--combined
            %button.hero__search-icon--combined{:type => "submit"}
              %svg.hero__search-icon-svg{:version => "1.1", :viewbox => "27 19 22 22", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                %g#icon_search{:fill => "none", "fill-rule" => "evenodd", :stroke => "none", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "1", :transform => "translate(38.000000, 30.000000) scale(-1, 1) translate(-38.000000, -30.000000) translate(28.000000, 20.000000)"}
                  %path#line{:d => "M14.6666667,14.6666667 L19.3254458,19.3254458", :stroke => "#525961", "stroke-width" => "2"}
                  %circle#Oval{:cx => "8", :cy => "8", :r => "8", :stroke => "#525961", "stroke-width" => "2"}
            %input.hero__keyword-search-input--combined{:name => "q", :placeholder => "Keyword (e.g. Kayak)", :type => "search"}/
            %input.hero__location-search-input--combined{:name => "lq", :placeholder => "Location", :type => "search"}/
          %button.hero__search-button.hero__search-button--combined{:type => "submit"} Search
          %input{:name => "ls", :type => "hidden"}/
          %input{:name => "lc", :type => "hidden"}/
          %input{:name => "boundingbox", :type => "hidden"}/
          %input{:name => "distance_max", :type => "hidden"}/
%section#categories__categories__1.categories__section
  .categories__content
    %h1.categories__title Popular Activities &amp; Fun
    .categories__paragraph--markdown
    .categories__categories
      .categories__category--4
        %a{:href => "/s?category=water-sports"}
          .categories__categories__1__categories__category-content.categories__category-content{:style => "background-image: url(https://d2hxfhf337f2kp.cloudfront.net/ownoutdoors/ownOutDoors_category-Water-Sports_BG.jpg)"}
            %h3.categories__category-title Water Sports
      .categories__category--4
        %a{:href => "/s?category=boating"}
          .categories__categories__1__categories__category-content.categories__category-content{:style => "background-image: url(https://d2hxfhf337f2kp.cloudfront.net/ownoutdoors/ownOutDoors_category-Boating_BG.jpg)"}
            %h3.categories__category-title Boating
      .categories__category--4
        %a{:href => "/s?category=motorcycles-scooters-bicycling"}
          .categories__categories__1__categories__category-content.categories__category-content{:style => "background-image: url(https://d2hxfhf337f2kp.cloudfront.net/ownoutdoors/ownOutDoors_category-Bicycles-Scooters-Motorcycles_BG_new.jpg)"}
            %h3.categories__category-title Motorcycles, Scooters, Bicycling
      .categories__category--4
        %a{:href => "/s?category=fishing"}
          .categories__categories__1__categories__category-content.categories__category-content{:style => "background-image: url(https://d2hxfhf337f2kp.cloudfront.net/ownoutdoors/ownOutDoors_category-fishing_BG.jpg)"}
            %h3.categories__category-title Fishing
%section#info__info-1-column__2.info__section--background-image--light{:style => "background-image: url('https://d2hxfhf337f2kp.cloudfront.net/ownoutdoors/ownOutDoors_infoSectionBG.jpg'); "}
  .info__content--single-column
    %h1.info__title--single-column About OwnOutdoors
    .info__paragraph--markdown
      %p Rent, Buy or Sell Outdoor Experiences, Adventure &amp; Gear - Anywhere! We are a one-stop shop to find outdoor fun. From renting a kayak or boat to finding snorkeling or diving tours, you can find it here at a great price and convenient location!
    %a.info__button.info__info-1-column__2__info__button{:href => "/signup"} Sign up
%section#listings__listings__3.listings__section
  .listings__content
    %h1.listings__title Featured Listings - Water Sports!
    .listings__paragraph--markdown
      %p Find your favorite activity on the water! From Kayaks and Paddleboards, Diving and Snorkeling gear and tours, to Parasailing and Waverunners, we are continuously adding listings so you can find your type of Fun!
    .listings__listings
      .listings__listing
        %a{:href => "/listings/207120"}
          .listings__listing-image{:style => "background-image: url(https://user-assets.sharetribe.com/images/listing_images/images/409669/big/paddle-boards.jpg?1478776447)"}
        %h3.listings__listing-title Paddleboards - 1hr ($20), 4hrs ($45), daily ($59), wk ($180)
        .listings__listing-info
          .listings__listings__3__listings__price-container.listings__price-container
            %span.listings__price-amount $20
            %span.listings__price-unit / hour
          %a.listings__listings__3__listings__author-link.listings__author-link{:href => "/seagrapesurfshop"}
            .listings__author-container
              .listings__author-avatar-container
                .listings__author-avatar{:style => "background-image: url(https://user-assets.sharetribe.com/images/people/images/bWDoLo1aKr5yaa-dPlzTtY/thumb/G0011403_%281%29.jpg?1455593051)"}
              %span.listings__author-name Seagrape Surf Shop
      .listings__listing
        %a{:href => "/listings/244148"}
          .listings__listing-image{:style => "background-image: url(https://user-assets.sharetribe.com/images/listing_images/images/517154/big/fun-baj.jpg?1478778948)"}
        %h3.listings__listing-title La Paz, Mexico Dive Trip - Deposit for Reservation
        .listings__listing-info
          .listings__listings__3__listings__price-container.listings__price-container
            %span.listings__price-amount $2,250
            %span.listings__price-unit / person
          %a.listings__listings__3__listings__author-link.listings__author-link{:href => "/diversdiscount"}
            .listings__author-container
              .listings__author-avatar-container
                .listings__author-avatar{:style => "background-image: url(https://user-assets.sharetribe.com/images/people/images/TtBoHInqJ1dquqe3tCqP6Q/thumb/headerLogo.png?1463275953)"}
              %span.listings__author-name Divers Discount Florida
      .listings__listing
        %a{:href => "/listings/253968"}
          .listings__listing-image{:style => "background-image: url(https://user-assets.sharetribe.com/images/listing_images/images/548844/big/parasailing-takeoff-400x225.jpg?1478779580)"}
        %h3.listings__listing-title Sanibel Captiva South Seas Parasailing
        .listings__listing-info
          .listings__listings__3__listings__price-container.listings__price-container
            %span.listings__price-shape-name Call For Price
          %a.listings__listings__3__listings__author-link.listings__author-link{:href => "/bestboatclub"}
            .listings__author-container
              .listings__author-avatar-container
                .listings__author-avatar{:style => "background-image: url(https://user-assets.sharetribe.com/images/people/images/v1CgWY_7Qn6L9ZETU1Fgtw/thumb/best-boat-club-and-rentals.jpg?1465270040)"}
              %span.listings__author-name Best Boat Club &amp; Rentals
%footer#footer__footer__4.footer__container--light
  .footer__content
    .footer__links-container--center
      %ul.footer__link-list
        %li.footer__link-list-item
          %a.footer__link{:href => "/infos/about"} About
        %li.footer__link-list-item
          %a.footer__link{:href => "/infos/how_to_use"} How it works
        %li.footer__link-list-item
          %a.footer__link{:href => "/user_feedbacks/new"} Contact us
    %hr.footer__separator/
    .footer__copyrights--markdown
      %p 
        = Date.today.year 
        OwnOutdoors Marketplace. All rights reserved.

:javascript
  window.ST=window.ST||{},function(e){e.initializeLocationSearch=function(e){function t(){i.value=null,c.value=null,r.value=null,s.value=null}function n(e){return e*(Math.PI/180)}function o(e,t){var o=e.lat(),a=t.lat(),l=e.lng(),u=t.lng(),i=n(o),c=n(a),r=n(a-o),s=n(u-l),e=Math.sin(r/2)*Math.sin(r/2)+Math.cos(i)*Math.cos(c)*Math.sin(s/2)*Math.sin(s/2);return 2*Math.atan2(Math.sqrt(e),Math.sqrt(1-e))*6371/2}function a(e){if(e){var t=o(e.getNorthEast(),e.getSouthWest());s.value=t,r.value=e.toUrlValue()}else s.value=null}function l(e){return 32==e||13==e||8==e||e>47&&e<112||e>185&&e<193||e>218&&e<223}var u=document.querySelector(e.search),i=document.querySelector(e.status),c=document.querySelector(e.coordinate),r=document.querySelector(e.boundingbox),s=document.querySelector(e.maxDistance),v=document.querySelector(e.form),d=new window.google.maps.places.Autocomplete(u,{bounds:{north:-90,east:-180,south:90,west:180}}),g=!1;d.setTypes(["geocode"]),window.google.maps.event.addListener(d,"place_changed",function(){var e=d.getPlace();null!=e&&(null!=e.geometry?(c.value=e.geometry.location.toUrlValue(),i.value=window.google.maps.places.PlacesServiceStatus.OK,g=!0,a(e.geometry.viewport),v.submit()):(c.value="",m(e.name,w)))}),v.addEventListener("submit",function(e){""===u.value||g?""===u.value&&t():(e.preventDefault(),m(u.value,w))}),u.addEventListener("keypress",function(e){13===e.keyCode&&e.preventDefault(),l(e.keyCode)&&(g=!1,t())});var m=function(e,t){(new window.google.maps.places.AutocompleteService).getQueryPredictions({input:e},t)},w=function(e,t){var n=window.google.maps.places.PlacesServiceStatus;if(t===n.OK){var o=new window.google.maps.Map(document.createElement("div"));new window.google.maps.places.PlacesService(o).getDetails({placeId:e[0].place_id},function(e,t){t===n.OK&&(c.value=e.geometry.location.toUrlValue(),a(e.geometry.viewport)),i.value=t,g=!0,v.submit()})}else i.value=t,g=!0,v.submit()}}}(window.ST);
  window.ST.initializeLocationSearch({
    form: '#hero__hero__0__search-form',
    search: '#hero__hero__0__search-form [name=lq]',
    status: '#hero__hero__0__search-form [name=ls]',
    coordinate: '#hero__hero__0__search-form [name=lc]',
    boundingbox: '#hero__hero__0__search-form [name=boundingbox]',
    maxDistance: '#hero__hero__0__search-form [name=distance_max]'
  })

