%section#hero__hero__0.hero__section--light
  .hero__content
    .hero__content-container
      %h1.hero__title= @community_customization.try(:slogan) || 'Rent | Buy | OwnOutdoors'
      %h3.hero__subtitle
        - description = @community_customization.try(:description)
        - if description
          = description
        - else
          Outdoor Experiences, Adventure & Gear
          %span{:style => "white-space: nowrap"} - Anywhere!
      .hero__search-bar-padding
        %form#hero__hero__0__search-form.hero__search-bar--combined{:action => "/s", :method => "get"}
          .hero__search-input-container--combined
            %button.hero__search-icon--combined{:type => "submit"}
              %svg.hero__search-icon-svg{:version => "1.1", :viewbox => "27 19 22 22", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                %g#icon_search{:fill => "none", "fill-rule" => "evenodd", :stroke => "none", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "1", :transform => "translate(38.000000, 30.000000) scale(-1, 1) translate(-38.000000, -30.000000) translate(28.000000, 20.000000)"}
                  %path#line{:d => "M14.6666667,14.6666667 L19.3254458,19.3254458", :stroke => "#525961", "stroke-width" => "2"}
                  %circle#Oval{:cx => "8", :cy => "8", :r => "8", :stroke => "#525961", "stroke-width" => "2"}
            - search_placeholder = @community_customization.try(:search_placeholder) || 'Keyword (e.g. Kayak)'
            %input.hero__keyword-search-input--combined{:name => "q", :placeholder => search_placeholder, :type => "search"}/
            %input.hero__location-search-input--combined{:name => "lq", :placeholder => "Location", :type => "search"}/
          %button.hero__search-button.hero__search-button--combined{:type => "submit"} Search
          %input{:name => "ls", :type => "hidden"}/
          %input{:name => "lc", :type => "hidden"}/
          %input{:name => "boundingbox", :type => "hidden"}/
          %input{:name => "distance_max", :type => "hidden"}/
%section#categories__categories__1.categories__section
  .categories__content
    %h1.categories__title Popular Activities &amp; Fun
    .categories__paragraph--markdown
    .categories__categories
      .categories__category--4
        %a{:href => "/s?category=water-sports"}
          .categories__categories__1__categories__category-content.categories__category-content{:style => "background-image: url(https://d2hxfhf337f2kp.cloudfront.net/ownoutdoors/ownOutDoors_category-Water-Sports_BG.jpg)"}
            %h3.categories__category-title Water Sports
      .categories__category--4
        %a{:href => "/s?category=boating"}
          .categories__categories__1__categories__category-content.categories__category-content{:style => "background-image: url(https://d2hxfhf337f2kp.cloudfront.net/ownoutdoors/ownOutDoors_category-Boating_BG.jpg)"}
            %h3.categories__category-title Boating
      .categories__category--4
        %a{:href => "/s?category=motorcycles-scooters-bicycling"}
          .categories__categories__1__categories__category-content.categories__category-content{:style => "background-image: url(https://d2hxfhf337f2kp.cloudfront.net/ownoutdoors/ownOutDoors_category-Bicycles-Scooters-Motorcycles_BG_new.jpg)"}
            %h3.categories__category-title Motorcycles, Scooters, Bicycling
      .categories__category--4
        %a{:href => "/s?category=fishing"}
          .categories__categories__1__categories__category-content.categories__category-content{:style => "background-image: url(https://d2hxfhf337f2kp.cloudfront.net/ownoutdoors/ownOutDoors_category-fishing_BG.jpg)"}
            %h3.categories__category-title Fishing
%section#info__info-1-column__2.info__section--background-image--light{:style => "background-image: url('https://d2hxfhf337f2kp.cloudfront.net/ownoutdoors/ownOutDoors_infoSectionBG.jpg'); "}
  .info__content--single-column
    %h1.info__title--single-column About OwnOutdoors
    .info__paragraph--markdown
      %p Rent, Buy or Sell Outdoor Experiences, Adventure &amp; Gear - Anywhere! We are a one-stop shop to find outdoor fun. From renting a kayak or boat to finding snorkeling or diving tours, you can find it here at a great price and convenient location!
    %a.info__button.info__info-1-column__2__info__button{:href => "/signup"} Sign up
%section#listings__listings__3.listings__section
  .listings__content
    %h1.listings__title Featured Listings - Water Sports!
    .listings__paragraph--markdown
      %p Find your favorite activity on the water! From Kayaks and Paddleboards, Diving and Snorkeling gear and tours, to Parasailing and Waverunners, we are continuously adding listings so you can find your type of Fun!
    .listings__listings.owl-carousel.owl-theme
      - @featured_listings.each do |listing|
        .listings__wrapper
          .listings__listing
            %a{:href => listing_path(listing)}
              - image = listing.listing_images.first
              .listings__listing-image.owl-lazy{"data-src" => (image ? image.image.url(:big) : nil)}
              %h3.listings__listing-title= listing.title
            .listings__listing-info
              .listings__listings__3__listings__price-container.listings__price-container
                %span.listings__price-amount= humanized_money_with_symbol(listing.price)
                %span.listings__price-unit= " / " + (ListingViewUtils.translate_unit(listing.unit_type, listing.unit_selector_tr_key) rescue "item")
              %a.listings__listings__3__listings__author-link.listings__author-link{:href => person_path(listing.author)}
                .listings__author-container
                  .listings__author-avatar-container
                    .listings__author-avatar{:style => "background-image: url(#{listing.author.image.present? ? listing.author.image.url(:thumb) : missing_avatar(:thumb, listing.author.is_vendor)})"}
                  %span.listings__author-name= PersonViewUtils::person_entity_display_name(listing.author, @current_community.name_display_type)
%footer#footer__footer__4.footer__container--light
  .footer__content
    .footer__links-container--center
      %ul.footer__link-list
        %li.footer__link-list-item
          %a.footer__link{:href => "/infos/about"} About
        %li.footer__link-list-item
          %a.footer__link{:href => "/infos/how_to_use"} How it works
        %li.footer__link-list-item
          %a.footer__link{:href => "/user_feedbacks/new"} Contact us
    %hr.footer__separator/
    .footer__copyrights--markdown
      %p 
        &copy;
        = Date.today.year 
        OwnOutdoors Marketplace. All rights reserved.

- content_for :extra_javascript do
  :javascript
    window.ST.initializeLocationSearch({
      form: '#hero__hero__0__search-form',
      search: '#hero__hero__0__search-form [name=lq]',
      status: '#hero__hero__0__search-form [name=ls]',
      coordinate: '#hero__hero__0__search-form [name=lc]',
      boundingbox: '#hero__hero__0__search-form [name=boundingbox]',
      maxDistance: '#hero__hero__0__search-form [name=distance_max]'
    })

    $(document).ready(function($) {
      $('.owl-carousel').owlCarousel({
        items: 3,
        mouseDrag: false,
        dots: true,
        nav: false,
        lazyLoad: true,
        responsive: {
            0 : {
              items: 1,
              slideBy: 1
            },
            480 : {
              items: 3,
              slideBy: 3
            },
            768 : {
              items: 3,
              slideBy: 3
            }
        }
      });
    });

